.card{
    border: none;
    box-shadow: 5px 5px 5px gray;
}
/* .service-container{
    background-color: gray;
    background-image: url('../../images/service-bg.jpg');
    height: 700px;
    background-repeat:no-repeat;
    
} */

.service-container {
    height: 600px;
    position:relative;
    background-image: url('../../images/service-bg-3.png');
    background-size: cover;
    background-position: center center;
    width: 100%;
    /* left: 30%; */
}
.service-container::before{
    content:  "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #cfcaba;
    /* background: #151616; */
    opacity: .8;
    top: 0;
}
