.header-container {
    height: 100vh;
    position:relative;
    background-image: url('../../images/header-bg-2.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.header-container::before{
    content:  "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #181414;
    /* background: #151616; */
    opacity: .6;
    top: 0;
}